<body>
  <h1>Hello everyone! (hey brother)</h1>
  <h3>Info on which robots to choose</h3>
    <ul>
      <li>Do you enjoy second place? We have the robot for you! Take a look at our <%= link_to 'Wall-E', robot_path(1) %> model. This last-generation brawler will stand in for some punches but isn't too durable or agressive.</li>
      <li>Sanction much? This robot includes oppression of women, starvation, or total destruction of America? <%= link_to 'Rovert', robot_path(2)%> will make many threats but won't actually do anything.</li>
      <li>Socialized healthcare. Won't actually fight.....anything<%= link_to 'Hugglebear', robot_path(3) %></li>
      <li>This is our second brawler model. May or not be made of wood. Wait, I think it was Iraq. Enough said. <%= link_to 'El mujaheed', robot_path(4) %></li>
      <li>Have you had your dose of American Patriotism today? Not the south american kind and definitely not the central american kind. The Donald will deliver! <%= link_to 'Uncle Sam', robot_path(5) %></li>
    </ul>
</body>
